node_modules
languages
build
dist
vendor
settings
acf-json
fonts
translation
xdebug/*
config/php.ini
config/config.sh
plugins/*
!plugins/video-markup
!plugins/wp-recipe-maker
plugins/wp-recipe-maker/templates
plugins/wp-recipe-maker/includes/admin
plugins/wp-recipe-maker/assets
# !plugins/wp-recipe-maker/assets/js
# plugins/wp-recipe-maker/assets/js/*
# !plugins/wp-recipe-maker/assets/js/blocks
sa-plugins/*
wordpress/*.php
wordpress/*.txt
wordpress/*.html
wordpress/.htaccess
wordpress/wp-admin
wordpress/wp-includes
wordpress/wp-content/*
wordpress/wp-content/themes/*
!/wordpress/wp-content/themes
# wordpress/wp-content/themes/thestayathomechef_v132/*
!/wordpress/wp-content/themes/thestayathomechef_v132

containers/wordpress/Dockerfile
.idea/
.vscode/

!**/.gitkeep